/* CSS de la page du plan de site 'Passionné de Formule 1' */

.plan-du-site{

    /* Police d'écriture et curseur utilisés sur la page */

    font-family: 'Lato', sans-serif;
    cursor: context-menu;

    /* Arrière-plan de la page */

    min-height: 715px;
    padding: 5% 10%;
    background-color: #54514E;
    .liens-plan-du-site{

        /* Liens pour les visiteurs du plan de site */

        .ligne01, .ligne02, .ligne03{
            display: flex;
            justify-content: center;
            gap: 20px;
            .planItem{
                width: 100%;
                text-align: center;
                a{
                    text-decoration: none;
                    color: #FFFFFF;
                    font-size: 1.5rem;
                }
            }
        }

        /* Ligne pour la page 'Mentions légales' */

        .ligne04{
            margin: 1rem 0;
            display: flex;
            justify-content: center;
            .planItem{
                width: 100%;
                text-align: center;
                a{
                    text-decoration: none;
                    color: #FFFFFF;
                    font-size: 1.5rem;
                }
            }
        }

        /* Liens de la section Administrateur du site 'Passionné de Formule 1' */

        .section-admin{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .adminPlanItem{
                width: 100%;
                text-align: center;
                a{
                    text-decoration: none;
                    color: #FFFFFF;
                    font-size: 1.5rem;
                }
            }

            /* Accès aux controllers lorsque l'on est connecté */

            .liens-admin{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}