/* CSS du footer du site 'Passionné de Formule 1' */

footer{

    /* Footer */

    background-color: #2A2622;
    padding: 1% 0;
    .footer-container{
        --bs-gutter-x: 0 !important;
        --bs-gutter-y: 0 !important;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 991.98px){
            flex-direction: column;
        }

        /* Texte 'Copyright' et mentions légales */

        .col-copyright-mentions{
            width: 42%;
            padding: 0;
            cursor: context-menu;

            /* Responsive pour le mobile */

            @media (max-width: 575.98px){
                flex-direction: column;
            }
            @media (max-width: 767.98px){
                align-items: center;
            }

            /* Responsive pour la tablette */

            @media (max-width: 991.98px){
                width: 100%;
            }
            @media (min-width: 992px) AND (max-width: 1199.98px){
                width: 62%;
            }
            @media (min-width: 1200px) AND (max-width: 1399.98px){
                width: 52%;
            }
            .col-copyright, .col-mentions{

                /* Responsive pour le mobile */

                @media (max-width: 575.98px){
                    width: 80%;
                }

                /* Responsive pour la tablette */

                @media (min-width: 576px) AND (max-width: 991.98px){
                    width: 50%;
                    margin: 1rem 0;
                }

                /* Responsive pour la tablette */

                @media (max-width: 991.98px){
                    text-align: center;
                }
            }
            .col-copyright{

                /* Texte 'Copyright' */
                
                @media (min-width: 992px){
                    width: 65%;
                }
                .copyrightText{
                    margin: 0;
                    font-family: 'Lato', sans-serif;
                    font-weight: 300;
                    font-size: 1.25em;
                    line-height: 1;
                    color: white;

                    /* Responsive pour le mobile */
                    
                    @media (max-width: 575.98px){
                        margin: 1rem 0;
                    }
                }
            }
            .col-mentions{

                /* Lien 'Mentions Légales' */
                    
                @media (min-width: 992px){
                    width: 35%;
                }
                .mentionsText{
                    text-decoration: none;
                    font-family: 'Lato', sans-serif;
                    font-weight: 300;
                    font-size: 1.25em;
                    line-height: 1;
                    color: white;
                }
            }
        }

        /* Liens réseaux sociaux */

        .col-rs{
            width: 33%;
            padding: 0;
            cursor: context-menu;

            /* Responsive pour la tablette */

            @media (max-width: 991.98px){
                width: 100%;
            }

            /* Liens 'Réseaux sociaux' */

            .rsLink{
                width: 100%;
                justify-content: end;

                /* Responsive pour le mobile */

                @media (max-width: 575.98px){
                    flex-direction: column;
                    align-items: center;
                }

                /* Responsive pour la tablette */

                @media (max-width: 991.98px){
                    margin: 1rem 0;
                    justify-content: center;
                }
                .rsItem{
                    margin: 0 5%;
                    text-decoration: none;
                    font-size: 1.5em;
                    line-height: 1;
                    color: white;

                    /* Responsive pour le mobile */

                    @media (max-width: 575.98px){
                        margin: 1rem 0;
                    }
                }
            }

            /* Plan du site */

            .sitePlan{
                width: 100%;
                justify-content: end;

                /* Responsive pour le mobile */

                @media (max-width: 575.98px){
                    flex-direction: column;
                    align-items: center;
                }

                /* Responsive pour la tablette */

                @media (max-width: 991.98px){
                    margin: 1rem 0;
                    justify-content: center;
                }
                .sitePlanLink{
                    margin: 0.75rem 19.5% 0;
                    text-decoration: none;
                    font-family: 'Lato', sans-serif;
                    font-weight: 300;
                    font-size: 1.25em;
                    line-height: 1;
                    color: white;

                    /* Responsive pour le mobile */

                    @media (max-width: 575.98px){
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}